<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :disabled %>
      <br>
      <%= f.check_box :disabled %>
    </div>


    <div>
      <label for="selected_roles[]">Roles</label><br>
      <select size="4" multiple="true" name="selected_roles[]">
        <% @available_roles.each do |role| %>
            <option value="<%= role.id %>"
            <% if @user.roles.include? role %>selected="selected"
            <% end %>><%= role.name %></option>
        <% end %>
      </select>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
